@import "tailwindcss";

body {
    background-color: #e6e6ff;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

.animateBtn {
    animation-duration: 10000ms;
}

.react-quill {
    border: none !important;
}

/* Remove border from the editable area */
.ql-container {
    border: none !important;
}

/* Optional: Remove border from toolbar if needed */
.ql-toolbar {
    border: none !important;
}